.container {
  background-color: var(--color-background);
  border-radius: var(--border-radius);
  border: var(--primary-border);
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: var(--screens-max-width);
  overflow: hidden;
  position: relative;
  width: 100%;
}
