:root {
  --color-bg-header-footer: #333333;
  --color-header-footer-text: #ffffff;
  --color-header-footer-text-alt: #fd6503;
  --color-bg-main: #ececec;
  --color-primary-border: #505050;
  --color-shadow: #d3d3d3;

  --color-modal-overlay: rgba(0, 0, 0, 0.75);
  --color-modal-background: #ffffff;

  --color-primary: #333333;
  --color-secondary: #fd6503;
  --color-accent: #17a2b8;
  --color-text: #333333;
  --color-text-alt: #ffffff;
  --color-background: #fdfefe;
  --color-success: #28b463;
  --color-error: #e74c3c;
  --color-warning: #f39c12;

  --color-card-bg: #ffe98a;
  --color-card-action-bg: #ffd00066;
  --color-card-text: #333333;
  --color-card-corner-shade: #4d4d00;
  --color-card-corner-light: #ffffff;
}
