.container {
  align-items: center;
  background-color: var(--color-bg-header-footer);
  box-sizing: border-box;
  display: flex;
  height: 100px;
  justify-content: center;
  padding-inline: 1rem;
  width: 100%;
}

.navigation {
  align-items: center;
  display: flex;
  flex: 1;
  max-width: 1200px;
  width: 100%;
}

.navigationList {
  display: grid;
  gap: 4px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 50px 35px;
  margin: 0;
  width: 100%;
}

.navigationListItem {
  align-items: center;
  display: flex;
}

.navigationListItem:last-child {
  justify-content: end;
}

.navigationListItem:not(:first-child):not(:last-child) {
  grid-column-end: 3;
  grid-column-start: 1;
  grid-row-start: 2;
  justify-content: center;
}

.navigationListItem:not(:first-child):not(:last-child) {
  flex: 1;
  justify-content: center;
}

.icon {
  align-items: center;
  background-image: url("../../../assets/Octicons-mark-github-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 34px;
  display: flex;
  height: 36px;
  justify-content: center;
  width: 36px;
}

@media (min-width: 500px) {
  .navigationList {
    align-items: initial;
    display: flex;
    flex: 1;
    gap: 2rem;
    justify-content: space-between;
  }

  .icon {
    background-size: 40px;
    height: 40px;
    width: 40px;
  }
}
