.container {
  align-items: center;
  background-color: var(--color-bg-header-footer);
  display: flex;
  height: 100px;
  justify-content: center;
  width: 100%;
}

.navigation {
  align-items: center;
  display: flex;
  flex: 1;
  max-width: 1200px;
  width: 100%;
}

.navigationList {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
}

.icon {
  align-items: center;
  background-image: url("../../../assets/Octicons-mark-github-w.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}
